body {
    font-family: "monospace", sans-serif;
}

.jumbotron, .site-footer {
    background-image: linear-gradient(to bottom right, rgb(6, 2, 252), rgb(7, 240, 240));
    color: white;
}

.fa-github, .fa-linkedin {
    color: rgba(0, 0, 0, 0.63);
}

/*.container, .col {
    border: 5px solid pink;
}

div {
    border: solid 1px black;
}*/