body {
    font-family: "monospace", sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to bottom right, rgb(6, 2, 252), rgb(7, 240, 240));
    color: white;
}

*/.container, .col {
    border: 5px solid pink;
}*/

footer {
    background-image: linear-gradient(to bottom right, rgb(6, 2, 252), rgb(7, 240, 240));
    color: white;
}